@model EX.Core.Queries.DTO.Balance

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("balance", "operations")" class="btn btn-primary btn-lg btn-block">Balance</a>
        <a href="@Url.Action("withdrawal", "operations")" class="btn btn-default btn-lg btn-block">Withdrawal</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("exit", "home")" class="btn btn-default">Exit</a>
    </div>
</div>